<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click) ="dismiss()">
        Close
      </ion-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar color="primary" hidden>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
<form [formGroup] = "loginForm" (ngSubmit)="login()">

  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input type="email" formControlName="email"></ion-input> 
  </ion-item>

  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input type="password" formControlName="password"></ion-input>
  </ion-item>

  <ion-button expand="block" color="tertiary" type="submit">Log In</ion-button>

</form>

<ion-label color='danger'>
  <p>{{loginError}}</p>
</ion-label>

</ion-content> -->

<ion-content class="ion-padding">
  
  <ion-item>
    <ion-icon name="basket" class="logo"></ion-icon>
  </ion-item>

  <h2>On The Way</h2>

  <form (ngSubmit)="login()" [formGroup]="loginForm">

    <ion-grid style="width: 90%;">

      <ion-row class="rowStyle">
        <ion-icon class="icon" name="mail"></ion-icon>
        <ion-input type="email" placeholder="Email" name="email" formControlName="email" value="test123@test."></ion-input>
      </ion-row>
 
      <ion-row class="rowStyle">
        <ion-icon class="icon" name="key"></ion-icon>
        <ion-input type="password" placeholder="Password" name="password" formControlName="password" value="test12"></ion-input>
      </ion-row>

      <ion-button class="button" color="primary" expand="block" type="submit" [disabled]="!loginForm.valid">Login</ion-button>    
      <ion-button class="button" color="secondary" expand="block" routerLink="/register">Create Account</ion-button>
      <ion-button class="button" color="light" expand="block" (click)="openReset()">Reset Password</ion-button>
 
    </ion-grid>
     
  </form>

  </ion-content>