<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>(Customer) View Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="addData()">Add Test Data</ion-button>
  

  <ion-card>
      <ion-card-content class="ion-no-padding" 
      *ngFor="let dt of dataSet | async" >
        <ion-grid>
          <ion-row class="ion-align-items-center">

            <ion-col size="2.5" class="ion-align-items-center">
              <img class = "avatar" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">  
            </ion-col>

            <ion-col size="3.5" class="ion-align-items-center">
              <h1 class = "mainName">Mall Name</h1>
              <p class = "otherInfo">{{ dt.user }}</p>
              <!-- <p class = "otherInfo">{{ dt.adminChat }}</p> -->
            </ion-col>

            <ion-col class="ion-align-items-center" size="2"> 
              <ion-button shape="round" fill="outline" class="statusButton" (click)="openModal()">{{ dt.orderProgress }}</ion-button>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col class="ion-no-padding">
            <ion-row>
              <h1 class="mainName">Shop Name</h1>
            </ion-row>
            
            <ion-row>
              <ion-col>
                <p class="otherInfo ion-float-left">Item Name</p>
              </ion-col>
              <ion-col>
                <p class="otherInfo ion-float-right">Item Name</p>
              </ion-col>
            </ion-row>
          
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col><p class="otherInfo ion-float-left">Subtotal</p></ion-col>
        <ion-col><p class="otherInfo ion-float-right">Price</p></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><p class="otherInfo ion-float-left">Promo | Promo</p></ion-col>
        <ion-col><p class="otherInfo ion-float-right">Price</p></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><p class="otherInfo ion-float-left">Additional Fees</p></ion-col>
        <ion-col><p class="otherInfo ion-float-right">Price</p></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><p class="otherInfo ion-float-left">Total</p></ion-col>
        <ion-col><p class="otherInfo ion-float-right">Price</p></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<br>
<br>

<!-- // chat buttons -->
<ion-row>
  <ion-col>
  </ion-col>
 
  <ion-col class="ion-align-items-center" size="8">
    <div *ngFor="let group of groups | async; let i=index">
      <ion-button *ngIf="(group | async)?.title == 'Rider Chat' && i<1" 
      class="ion-text-wrap" expand="block" fill="outline" shape="round"
        [routerLink]="['/', 'test-chat', (group | async)?.id || 0]" >
        <ion-label class="ion-text-wrap">
          <ion-text>
            <h3>Talk to your Shopper</h3>
          </ion-text>
        </ion-label>
      </ion-button>
    </div>
  </ion-col>

  <ion-col>
  </ion-col>
</ion-row>


<ion-row>
  <ion-col>
  </ion-col>
  <ion-col class="ion-align-items-center" size="8"> 
    <div *ngFor="let group of groups | async; let i=index">
    <ion-button *ngIf="(group | async)?.title == 'Admin Chat' && i<1" 
    class="ion-text-wrap" expand="block" fill="outline" shape="round"
      [routerLink]="['/', 'test-chat', (group | async)?.id || 0]" >
      <ion-label class="ion-text-wrap">
        <ion-text>
          <h3>Talk to an OTW Representative</h3>
        </ion-text>
      </ion-label>
      </ion-button>
    </div>
  </ion-col>
  <ion-col>
  </ion-col>
</ion-row>


<script src="https://checkout.stripe.com/checkout.js"></script>

<!-- <ion-row>
  <ion-col>
  </ion-col>
  <ion-col class="ion-align-items-center" size="8"> 
    <ion-button shape="round" fill="outline" expand="block" (click)="adminChat()">Talk to a Representative</ion-button>
  </ion-col>
  <ion-col>
  </ion-col>
</ion-row> -->


    <!-- <ion-button *ngFor="let group of groups | async" class="ion-text-wrap"
    [routerLink]="['/', 'chat', (group | async)?.id || 0]">
      <ion-label class="ion-text-wrap">
        <ion-text>
          <h3>{{ (group | async)?.title }}</h3>
        </ion-text>
      </ion-label>
    </ion-button> -->



</ion-content>