
.p2{
    float: right;
    margin-left:5%;
    font-size: small;
}
.availButton{
    display: inline-block;
    vertical-align: middle; 
    margin-left: 52%;
    block-size: 35px;
}
.content1{
    margin-left: 3%;
}
.p3{
    font-size:x-small;
    margin-top: -3%;
}
.content2{
    margin-left: 3%;
}
.itemLeft{
    float:left;
}
.priceRight{
    float:right;
}
.itemDetails{
    margin-left: 20%;
}
h2{
    font-weight: bold;
}

